@import url(main-style.css);

main{
  /* main body */
  /* Auto layout */
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 50px;
  position: relative;
  width: 1140px;
}

.main-cover{
  display: flex;
  width: 1440px;
  height: 557px;
  padding: 30px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  flex-shrink: 0;
}

.main-cover h1{
  /* layout */
  display: flex;
  width: 814px;
  height: 175px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  /* position */
  position: absolute;
  right: 0px;
  /* tipografia */
  color: #000;
  text-align: right;
  font-size: 128px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 18.667px;
  letter-spacing: 0.667px;
  text-transform: lowercase;
}

.main-cover h2{
  /* layout */
  display: flex;
  width: 1440px;
  height: 93px;
  flex-direction: column;
  justify-content: center;
  /* position */
  position: absolute;
  top: 198px;
  /* tipografia */
  color: #000;
  text-align: right;
  font-size: 128px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 18.667px;
  letter-spacing: 0.667px;
  text-transform: lowercase;

}

.main-cover p{
  /* layout */
  display: flex;
  width: 1440px;
  height: 183px;
  flex-direction: column;
  justify-content: center;
  /* position */
  position: absolute;
  right: 0px;
  bottom: 45px;
  /* tipografia */
  color: #000;
  text-align: justify;
  font-size: 87px;
  font-family: Helvetica;
  font-weight: 700;
  line-height: 5px;
  letter-spacing: 1.74px;
  text-transform: lowercase;
}

section .h2{
  padding: 50px;
}

.minor-body{
  /* caption */
  width: 678.57px;
  height: 100px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  /* or 133% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #000000;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

