@import url(main-style.css);

main h1 {
  /* yuang tong */
  position: absolute;
  width: 664px;
  height: 175px;
  left: calc(50% - 664px/2 + 369px);
  top: calc(50% - 175px/2 - 119px);

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 128px;
  line-height: 19px;
  /* or 15% */

  display: flex;
  align-items: center;
  letter-spacing: 0.666667px;
  text-transform: lowercase;

  color: #000000;

}

main {
  padding: 20px;
}

div{
  /* main body */
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  gap: 50px;

  position: absolute;
  width: 1140px;
  height: 598px;
  left: calc(50% - 1140px/2 - 6px);
  top: calc(50% - 598px/2 + 317.5px);
}

.minor-body{
  /* caption */
  width: 678.57px;
  height: 100px;

  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  /* or 133% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

div h2 {
  font-family: 'Roboto';
  font-style: bold;
  font-weight: 600;
  font-size: 30px;
  line-height: 19px;
  /* or 52% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.666667px;
  text-transform: lowercase;
  color: #000000;
}

footer {
  /* 
  border-top: solid 1px;
  background: rgba(150, 150, 150, 0.5);
  width: 100%;
  height: 40px;
  padding-top: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  min-height: 100%;
  */

}
