body {
 
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #000000;
  margin: 0;
  padding: 0;
  background: #ffffff;
  
}

main h1 {
  /* yuang tong */
  position: absolute;
  width: 664px;
  height: 175px;
  left: calc(50% - 664px/2 + 369px);
  top: calc(50% - 175px/2 - 119px);

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 128px;
  line-height: 19px;
  /* or 15% */

  display: flex;
  align-items: center;
  letter-spacing: 0.666667px;
  text-transform: lowercase;

  color: #000000;

}

.navbar {
  display: flex; /* Use flexbox to arrange the links */
  align-items: center; /* Align the links vertically */
  justify-content: flex-end; /* Align the links to the right */
  position: fixed; /* Make the navbar stick to the top */
  top: 0; /* Position the navbar at the top */
  left: 0; /* Position the navbar at the left */
  width: 100%; /* Make the navbar span the whole width of the browser */
  height: 50px; /* Set the height of the navbar */
  /* background-color: #333; Set the background color of the navbar */

  font-family: "fot-rodin-pron", sans-serif;
  font-weight: 600;
  font-style: bold;
  font-size: 12.5px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.666667px;
  text-transform: uppercase;
}

.navbar a {
  color: rgba(81, 218, 76, 1); /* Set the color of the links */
  text-decoration: none; /* Remove the underline from the links */
  padding: 15px; /* Add some padding to the links */
}

.navbar a:hover {
  /* background-color: #ddd; /* Change the background color of the links on hover */
  color: rgba(81, 218, 76, 0.5); /* Change the color of the links on hover */
} 

main {
  padding: 20px;
}

div{
  /* main body */
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  gap: 50px;

  position: absolute;
  width: 1140px;
  height: 598px;
  left: calc(50% - 1140px/2 - 6px);
  top: calc(50% - 598px/2 + 317.5px);
  overflow-x: scroll;
}

.minor-body{
  /* caption */
  width: 678.57px;
  height: 100px;

  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  /* or 133% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

div h2 {
  font-family: 'Roboto';
  font-style: bold;
  font-weight: 600;
  font-size: 30px;
  line-height: 19px;
  /* or 52% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.666667px;
  text-transform: lowercase;
  color: #000000;
}

footer {
  background-color: #696969;
  color: #fff;
  padding: 10px;
  text-align: left;
  font-size: 10px;
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 40px;
  
}
