@import url(main-style.css);

.left {
  justify-content: first baseline left;
}

main {
  padding: 20px;
}

/* Style the container */
.container {
  background-color: #f2f2f2;
  padding: 20px;
  width: 50%;
  margin: auto;
}

/* Style the contact titles */
.contact {
  margin: 10px;
  text-align: center; /* center horizontally */
  align-items: center; /* center vertically */
  display: flex; /* make it a flex container */
  justify-content: center; /* center it horizontally */
  height: 100vh; /* set the height of the container to fill the viewport */
}

form {
width: 50%; /* set a fixed or relative width for the form */
}

/* Style the input elements */
input[type=text], input[type=email], textarea {
  margin-top: 6px;
  margin-bottom: 16px;
  display: inline-block;
  resize: both;
  width: 100px; /* The specified width of the input source box */
  padding: 10px; /* The padding around the content of the input source box */
  border: 1px solid #ccc; /* The border around the input source box */
  box-sizing: content-box; /* The box-sizing property that makes the width only include the content */
  /* Position */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px 28px;
  gap: 100px;
  width: 150px;
  height: 20px;
  left: 0px;
  top: 0px;
  flex: 0.5; /* Make the text area grow to fill the available space */
  margin: 0 auto; /* Add some margin around the text area */
}

/* Style the text area */
textarea {
  height: 50px;
  flex: 0.5; /* Make the text area grow to fill the available space */
  margin: 0 auto; /* Add some margin around the text area */
}

/* Style the submit button */
input[type=submit] {

  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  position: absolute;
  
  background: #D9D9D9;
  border-radius: 10px;
  background: #707070;
  box-shadow:  2px 2px 4px #5f5f5f,
              -2px -2px 4px #818181;
}

/* Style the submit button on hover */
input[type=submit]:hover {
  background-color: #22725d;
}

/* Style the icons*/
.icons {
  position: sticky;
  bottom: auto;
}  

footer {
  background-color: #696969;
  color: #fff;
  padding: 10px;
  text-align: left;
  font-size: 10px;
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 40px;
}