/* Style the whole content */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #000000;
    margin: 0;
    padding: 0;
    background: #ffffff;
}

/* Style the navbar */
.navbar {
  display: flex; /* Use flexbox to arrange the links */
  align-items: center; /* Align the links vertically */
  justify-content: flex-end; /* Align the links to the right */
  position: fixed; /* Make the navbar stick to the top */
  top: 0; /* Position the navbar at the top */
  left: 0; /* Position the navbar at the left */
  width: 100%; /* Make the navbar span the whole width of the browser */
  height: 50px; /* Set the height of the navbar */
  background-color: #333; /* Set the background color of the navbar */
  font-family: "fot-rodin-pron", sans-serif;
  font-weight: 600;
  font-style: bold;
  font-size: 12.5px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.666667px;
  text-transform: uppercase;
}

/* Style the navbar links */
.navbar a {
  color: rgba(81, 218, 76, 1); /* Set the color of the links */
  text-decoration: none; /* Remove the underline from the links */
  padding: 15px; /* Add some padding to the links */
}

/* Style the navbar on hover */
.navbar a:hover {
  /* background-color: #ddd; /* Change the background color of the links on hover */
  color: rgba(81, 218, 76, 0.5); /* Change the color of the links on hover */
} 

main{
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  box-sizing: border-box;
}

footer p{
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-color: rgb(31, 31, 31);
  padding: 10px;
  margin: 0;
  position:fixed;
}